@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-color: #819A88;
    color: #fff;
    font-family: 'Indie Flower', cursive;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.main {
    font-family: inherit;
}






.box {
    background-color: #DDBEB1;
    font-family: inherit;

    border-radius: 25px;

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    text-align: center;
    justify-content: center;

    margin: 10px 10px;
}





.container .box-title {
    padding: 5px;
}





header .header-btn {
    font-size: 50px;
    padding: 5px;

    width: 60px;
}