body {
    background-color: #819A88;
    color: #fff;
    font-family: 'Inter', sans-serif;

}


.box{
background-color:#DDBEB1;

    border-radius: 25px;

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    justify-content: center;
    align-items: center;
    text-align: center;
}


.box-title{
    padding: 5px;
}

.header-btn{
    width: 50px;
    aspect-ratio: 1;
}